/*html and webpage design (larger containers)*/
html {
    scroll-behavior: smooth;
}

.container {
    padding-top: 50px;
}

body{
    background-color: #f5f1e6;
}

/*Landing page styles*/
.title-container{
    padding-top: 45vh;
    text-align: center;
}

#landing_page{
    background-color: #f5f1e6;
}


#webtitle {
    border: 10px solid #a1061b;
    border-radius: 20px;
    display: inline-block;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #a1061b;
    font-size: 55px;
    align-items: center;
    margin-left: 250px;
}

#bib-title{
    max-height: 20%;
    max-width: 20%;
    display: flex;
    margin-left: 40px;
    margin-top: -270px;
}

#subtitle{
    text-align: right;
    margin-right: 10vh;
    color: #5c5555;
}

/*Project introduction (page with 2 restaurant animations)*/

#proj_intro {
    padding-top: 10vh;
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
}


.col-8 img {
    height: 300px;      /* 2/3 of the parent div's height */
    width: auto;         /* To maintain the aspect ratio of the image */
}


.person {
    position: absolute;
    width: 150px;
    height: 300px;
    overflow: hidden;
}

.personEstonia {
    position: absolute;
    width: 150px;
    height: 300px;
    overflow: hidden;
}

.person img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personEstonia img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.counter-boxFrance {
    position: absolute;
    top: 20%; /* Adjust the top position as needed */
    width: 50%;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    display: block;
    margin: 0 auto;
}

.counter-boxEstonia {
    position: absolute;
    justify-content: center;
    top: 20%; /* Adjust the top position as needed */
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    display: block;
    margin: 0 auto;
}

#french-restaurant {
    width: 100%;
    position: absolute;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    margin-left: 0;
    padding-left: 7vw;
    display: block;
    margin: 0 auto;
}

#estonia-restaurant {
    position: absolute;
    align-content: center;
    align-items: center ;
    padding-top: 50px;
    padding-left: 7vw;
    display: block;
    margin: 0, auto
}

.destination-infoFrance {
    align-content: center;
    position: absolute;
    top: 3%; /* Adjust the top position as needed */
    width: 50%;
    text-align: center;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.destination-infoEstonia {
    position: absolute;
    top: 3%; /* Adjust the top position as needed */
    /*right: 5%;*/
    width: 50%;
    text-align: center;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.restaurant-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    align-content: center;
    text-align: center;
}

.destination-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 20px;
    align-content: center;
    text-align: center;
}


.carousel{
    border: 5px solid #A0071B;
    border-radius: 10px;
    margin-right: 0;
    margin-left: 50px;
    padding-top: 1vh;
    align-items: center;
    max-width: 75%;
    height: 60%;
}

.carousel-inner{

}

.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}

#description1{
    padding-top: 1vh;
    color: #5C5555;
    text-align: center;
    width: 55vw;
    height: 18vh;
    margin-left: 12%;
    margin-top: 2vh;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
}
#description2{
    color: #5C5555;
    text-align: center;
    width: 55vw;
    height: 18vh;
    margin-left: 12%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vh;
}
#description3{
    padding: 1.5%;
    color: #5C5555;
    text-align: center;
    font-size: 30px;
    width: 55vw;
    height: 15vh;
    margin-left: 12%;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
}

#scroll-label{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
}

/*Michelin Guide Explanation Page*/
.intro-container {
    /*background-color: #D5E2F2;*/
    display: inline-block;
}

.intro-title{
    font-family: 'Montserrat', sans-serif;
    padding-top: 15vh;
    text-align: center;
}

.info {
    font-family: 'Montserrat', sans-serif;
    padding-top: 35px;
    text-align: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

#cuisinetitle {
    margin-top: 2vh;
    margin-left: 1vw;
    display: inline-flex;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#michelin-blurb {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 20px;
}

#michelin-info{
    padding-left: 20vh;
    padding-right: 20vh;
}

/*spider css*/
.spider-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 3vh;
    text-align: center;
}

#spider-chart{
    padding: 0;
    margin-top: 0;
}

.spider-sub-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 5vh;
    text-align: left;
}

#flag-container{
    margin-top: 0;
}

.bubbleTooltip {
    background-color: #f5f1e6;
    border: #d3d3d3 solid 2px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 20px
}

#bubbleRest {
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #A0071B;
}

.intro-container {
        /*background-color: #D5E2F2;*/
        display: inline-block;
    }

.intro-title {
        font-family: 'Montserrat', sans-serif;
        padding-top: 25vh;
        text-align: center;
    }

.info {
        font-family: 'Montserrat', sans-serif;
        padding-top: 35px;
        text-align: center;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

#cuisinetitle {
        padding-top: 10px;
        padding-bottom: 20px;
        display: inline-block;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #332B2C;
        vertical-align: middle;
    }

.look3{
    color: #A0071B;
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
}

#cuisineExplained {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 1vw;
}

.look4{
    color: #A0071B;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
}

h4 {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }

#michelin-blurb {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        padding-left: 130px;
        padding-right: 130px;
    }
.mich{
        font-size: 18px;
}
/*global map styling */
#globe {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 5vh;
    margin-left: 3vh;
    text-align: center;
    height: 80vh;

}

.globe-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    text-align: center;
}

.globe-title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5vh;
    text-align: center;
    color: #332D2C;
}

#globe-linked {
    font-family: 'Montserrat', sans-serif;
    color: #332D2C;
}

#data-selection {
    margin-top: 3vh;
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid #3D171C;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;

}

.select-container {
    position: relative;
    width: 230px; /* Adjust as needed */
    margin: 10px;
    border-radius: 5px;
    overflow: hidden; /* Ensures the border-radius applies to the dropdown */
}


/* Styles for the dropdown: hover state */
#data-selection:hover {
    border-color: #888;
}

/* Styles for the dropdown: focus state */
#data-selection:focus {
    outline: none;
    border-color:  #332D2C;;
}

/* highlight the selected countries boundaries */
.selected-country {
    stroke: #3C6A85; /* Red color for the border */
    stroke-width: 3px; /* Width of the border */
}

/*maptool tip*/
.maptooltip {
    background-color: #f5f1e6;
    border: #d3d3d3 solid 2px;
    font-family: 'Montserrat', sans-serif;
}

/*hover over effect for area charts*/
.area:hover {
    opacity: 0.6; /* Adjust the opacity level as needed */
    transition: opacity 0.3s; /* Smooth transition for the opacity change */
}

/*hover effect for bar charts*/
.bar-hover:hover {
    opacity: 0.6; /* Adjust the opacity level as needed */
    transition: opacity 0.3s; /* Smooth transition for the opacity change */
}

/*spider css*/

.spider-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        margin-top: 3vh;
        text-align: center;
    }

#spider-chart {
        padding: 0;
        margin-top: 0;
    }

.spider-sub-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        margin-top: 5vh;
        text-align: left;
    }

#flag-container {
        margin-top: 0;
    }

#bubbleTooltip {
        background-color: powderblue;
        border: powderblue;
        border-radius: 5px;
        padding: 20px
    }

#bubbleRest {
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

#bubbleSelector {
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        margin-top: 2%;
        margin-left: 1vw;
        margin-right: 5%;
        margin-bottom: 3%;
    }

.instructions {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
    }

#michelinreminder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-left: 1vw;
}

/*#boxtitle {*/
/*        padding-left: 1vw;*/
/*        padding-top: 30px;*/
/*        font-family: 'Montserrat', sans-serif;*/
/*        font-weight: bold;*/
/*        font-size: 22px;*/
/*    }*/

#bubbleLegend {
    padding-top:50px;
}


.radialtooltip {
        position: absolute;
        display: none;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 3px;
        box-shadow: -3px 3px 15px #888;
        color: white;
        padding: 6px;
    }


/*!* testing *!*/
#introChatter{
    padding-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Montserrat', sans-serif;
    color: #332B2C;
}

.scrollText {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.scrollText.visible {
    opacity: 1;
    transform: translateY(0);
}

#intro1{
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: bold;
}

.preSel{
    align-content: center;
    text-align: center;
    font-size: 40px;
    margin-top: 18%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif
}

.few {
    font-style: italic;
    color: #d3d3d3;
}

#intro2{
    font-size: 40px;
    padding-bottom: 20px;
}

#intro3, #intro4, #intro5 {
    font-size: 35px;
    margin-left: 50px;
    color: #473f41;
    font-weight: normal;
}

#intro6 {
    font-size: 40px;
    padding-top: 50px;
}

.look{
    font-size: 60px;
    color: #A0071B;
}

.lowkey{
    color: #d3d3d3;
    font-style: italic;
}

.look2{
    font-size: 45px;
    color: #A0071B;
}

.disclaimer {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/*select flags styling*/
#submit-button {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: #F5A6B9; /* Green background */
    color: white; /* White text */
    padding: 15px 32px; /* Top and bottom padding of 15px, left and right padding of 32px */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Align the button correctly */
    font-size: 16px; /* Increase font size */
    margin: 10px 13vh; /* Margin around the button */
    cursor: pointer; /* Change mouse cursor on hover */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add a shadow for depth */
    transition-duration: 0.4s; /* Smooth transition for hover effect */
}

#submit-button:hover {
    background-color: #6E1A25; /* Darker shade of green on hover */
}
#clear-button {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: #F5A6B9;
    color: white; /* White text */
    padding: 15px 32px; /* Top and bottom padding of 15px, left and right padding of 32px */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Align the button correctly */
    font-size: 16px; /* Increase font size */
    margin: 20px 3px; /* Margin around the button */
    cursor: pointer; /* Change mouse cursor on hover */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add a shadow for depth */
    transition-duration: 0.4s; /* Smooth transition for hover effect */
}

#clear-button:hover {

    background-color: #6E1A25; /* Darker shade of green on hover */
}

/*styling for tree map*/

.tree-title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5vh;
    text-align: left;
    color: #332D2C;
    margin-left: 3vh;
    font-size: 25px
}


.tree-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 3vh;
    text-align: center;
}

#treemap_container {
    font-family: 'Montserrat', sans-serif;

}

#country-dropdown {
    margin-top: 3vh;
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid #3D171C;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;

}

.select-container2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    position: relative;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden; /* Ensures the border-radius applies to the dropdown */
}


/* Styles for the dropdown: hover state */
#country-dropdown:hover {
    border-color: #888;
}

/* Styles for the dropdown: focus state */
#country-dropdown:focus {
    outline: none;
    border-color:  #332D2C;;
}



/*styling for tree map*/

.tree-title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5vh;
    text-align: left;
    color: #332D2C;
    margin-left: 3vh;
    font-size: 25px
}


.tree-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 3vh;
    text-align: center;
}

#treemap_container {
    font-family: 'Montserrat', sans-serif;

}

#country-dropdown {
    margin-top: 3vh;
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid #3D171C;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;

}

.select-container2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    position: relative;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden; /* Ensures the border-radius applies to the dropdown */
}


/* Styles for the dropdown: hover state */
#country-dropdown:hover {
    border-color: #888;
}

/* Styles for the dropdown: focus state */
#country-dropdown:focus {
    outline: none;
    border-color:  #332D2C;;
}



#confirm-cuisine{
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    background-color: #f5f1e6;
    border-width: 2px;
    border-color: #613E43;
    color:#613E43;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0.5vw;
}

.c2a_title{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #A0071B;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

#finalRest{
    align-items: center;
}

#finalRestImage{
    width: 100%;
}

#finalLoc, #finalCuis{
    align-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10%;
}

#locDes {
    font-size: 27px;
    font-weight: bold;
    color: #332B2C;
    margin-left: 5%;
    padding-right: 2%;
}

#cuisDes {
    font-size: 27px;
    font-weight: bold;
    color: #332B2C;
    padding-left: 2%;
    margin-right: 8%;
}


.loclist, .cuisineF {
    font-size: 24px;
    text-align: center;
    padding-left: 10%;
    align-content: center;
    color: #332B2C;
}

#bibapprove{
    padding-top: 5%;
    width: 110%;
}

.sources {
    align-content: center;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 2%
}

.sources2 {
    align-content: center;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 2%
}

.ack {
    align-content: center;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.sourcetitle{
    font-size: 18px;
    font-weight: bold;
}

.name {
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}





/*styling for radial bar chart*/
#radialVis {
    font-family: 'Montserrat', sans-serif;

}

.radial-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 10vh;
    margin-left: -10vh;
    text-align: center;
}

.radialtooltip {
    font-family: 'Montserrat', sans-serif;

}





