
.container {
    padding-top: 50px;
}

.title-container{
    padding-top: 45vh;
    text-align: center;
}


#landing_page {
    /*background-color: powderblue;*/
    background-image: url("/img/temp_background.jpeg");
    background-size: cover;
}

#webtitle {
    background-color: rgba(39, 40, 92, 0.8);
    border-radius: 20px;
    display: inline-block;
    padding: 30px;
    font-family: 'Codystar', sans-serif;
    font-weight: bold;
    color: gainsboro;
    font-size: 55px;
}

#proj_intro {
    padding-top: 10vh;
    display: inline-block;
    text-align: center;
}


.col-8 img {
    height: 300px;      /* 2/3 of the parent div's height */
    width: auto;         /* To maintain the aspect ratio of the image */
}
body{
    background-color: #D5E2F2;
}

#big-question{
    background-color: #27285c;
    border-radius: 50px;
    margin-right: 50px;
}
#hook{
    margin: 100px;
    font-size: 30px;
    font-family: 'Codystar', sans-serif;
    font-weight: bold;
    color: lightblue;
}

#box1{
    height: 80px;
    width: 25px;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}

#box2{
    height: 80px;
    width: 25px;
    border: 2px solid black;
    margin: 20px;
    padding: 25px;
}

#fork-spoon{
    max-height: 50px;
}

.intro-container {
    /*background-color: #D5E2F2;*/
    display: inline-block;
}

.intro-title{
    font-family: sans-serif;
    padding-top: 25vh;
    text-align: center;
}

.info {
    font-family: sans-serif;
    padding-top: 35px;
    text-align: center;
    align-items: center;
}

h3 {
    padding-top: 20px;
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

