/*html and webpage design (larger containers)*/
html {
    scroll-behavior: smooth;
}

.container {
    padding-top: 50px;
}

body{
    background-color: #f5f1e6;
}

/*Landing page styles*/
.title-container{
    padding-top: 45vh;
    text-align: center;
}

#landing_page{
    background-color: #f5f1e6;
}


#webtitle {
    border: 10px solid #a1061b;
    border-radius: 20px;
    display: inline-block;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #a1061b;
    font-size: 55px;
    align-items: center;
    margin-left: 250px;
}

#bib-title{
    max-height: 20%;
    max-width: 20%;
    display: flex;
    margin-left: 40px;
    margin-top: -270px;
}

#subtitle{
    text-align: right;
    margin-right: 10vh;
    color: #5c5555;
}

/*Project introduction (page with 2 restaurant animations)*/

#proj_intro {
    padding-top: 10vh;
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
}


.col-8 img {
    height: 300px;      /* 2/3 of the parent div's height */
    width: auto;         /* To maintain the aspect ratio of the image */
}


.person {
    position: absolute;
    width: 150px;
    height: 300px;
    overflow: hidden;
}

.personEstonia {
    position: absolute;
    width: 150px;
    height: 300px;
    overflow: hidden;
}

.person img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personEstonia img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.counter-boxFrance {
    position: absolute;
    top: 20%; /* Adjust the top position as needed */
    left: 5%; /* Adjust the left position as needed */
    width: 50%;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.counter-boxEstonia {
    position: absolute;
    justify-content: center;
    top: 20%; /* Adjust the top position as needed */
    left: 5%;
    width: 130%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#french-restaurant {
    position: center;
    align-content: center;
}
#estonia-restaurant {
    position: center;
}

.destination-infoFrance {
    align-content: center;
    position: absolute;
    top: 3%; /* Adjust the top position as needed */
    left: 5%;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.destination-infoEstonia {
    position: absolute;
    top: 3%; /* Adjust the top position as needed */
    right: 5%;
    width: 50%;
    text-align: center;
    padding: 10px;
    /*background-color: "grey";*/
}

#restaurant-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 60px;
}

#destination-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 20px;
}


.carousel{
    border: 5px solid #A0071B;
    border-radius: 10px;
    padding: 1vh;
    margin-right: 0;
    margin-top: 1vh;
    align-items: center;
    max-width: 160vh;
    max-height: 30vh;
}

.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}

#description1{
    padding: 1.5%;
    color: #5C5555;
    text-align: center;
    width: 110vh;
    height: 20vh;
    margin-left: 20vh;
    margin-top: 3vh;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.2vh;
}
#description2{
    color: #5C5555;
    text-align: left;
    width: 110vh;
    height: 18vh;
    margin-left: 20vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vh;
}
#description3{
    padding: 1.5%;
    color: #5C5555;
    text-align: center;
    font-size: 30px;
    width: 110vh;
    height: 15vh;
    margin-left: 20vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
}

#scroll-label{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
}

/*Michelin Guide Explanation Page*/
.intro-container {
    /*background-color: #D5E2F2;*/
    display: inline-block;
}

.intro-title{
    font-family: 'Montserrat', sans-serif;
    padding-top: 25vh;
    text-align: center;
}

.info {
    font-family: 'Montserrat', sans-serif;
    padding-top: 35px;
    text-align: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

#cuisinetitle {
    padding-top: 80px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: inline-flex;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#michelin-blurb {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 130px;
    padding-right: 130px;
}

/*spider css*/
.spider-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 3vh;
    text-align: center;
}

#spider-chart{
    padding: 0;
    margin-top: 0;
}

.spider-sub-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 5vh;
    text-align: left;
}

#flag-container{
    margin-top: 0;
}
#bubbleTooltip {
    background-color: powderblue;
    border: powderblue;
    border-radius: 5px;
    padding: 20px
}

#bubbleRest {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#bubbleSelector {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
    margin-right: 5%;
}

.instructions {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

#michelinreminder {
}

#boxtitle {
    padding-top: 50%;
}

.radialtooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #888;
    color: white;
    padding: 6px;
}

.selected-country {
    stroke: #6495ED; /* Red color for the border */
    stroke-width: 4px; /* Width of the border */
}


